[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

six = "*"
google-cloud-bigquery = "*"


[dev-packages]

yapf = "*"
isort = "*"
google-cloud-storage = "*"
pandas = "*"
twine = "*"
typing = "*"


[requires]

python_version = "3.6"
